.glitch {
  position: relative;
  display: inline-block;
}

.glitch::before,
.glitch::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  opacity: 0; /* 默认关闭 */
  pointer-events: none;
}

.glitch.enable-on-hover:hover::before,
.glitch.enable-on-hover:hover::after {
  opacity: 1;
}

.glitch::before {
  transform: translateX(2px);
  text-shadow: var(--before-shadow);
  animation: glitch-before var(--before-duration) infinite linear;
}

.glitch::after {
  transform: translateX(-2px);
  text-shadow: var(--after-shadow);
  animation: glitch-after var(--after-duration) infinite linear;
}

@keyframes glitch-before {
  0% {
    clip-path: inset(0 0 80% 0);
  }
  20% {
    clip-path: inset(10% 0 60% 0);
  }
  40% {
    clip-path: inset(30% 0 40% 0);
  }
  60% {
    clip-path: inset(50% 0 20% 0);
  }
  80% {
    clip-path: inset(70% 0 10% 0);
  }
  100% {
    clip-path: inset(0 0 80% 0);
  }
}

@keyframes glitch-after {
  0% {
    clip-path: inset(80% 0 0 0);
  }
  20% {
    clip-path: inset(60% 0 10% 0);
  }
  40% {
    clip-path: inset(40% 0 30% 0);
  }
  60% {
    clip-path: inset(20% 0 50% 0);
  }
  80% {
    clip-path: inset(10% 0 70% 0);
  }
  100% {
    clip-path: inset(80% 0 0 0);
  }
}
